

body {
	 font-family: 'Roboto', sans-serif;
	 font-weight: normal;
	margin: 0;
	color: #000;
	min-width: 320px;
	padding: 0 !important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding: 0 !important;
	transition: all 0.3s;
}

* {
	outline: none !important;
}

a {
	transition: all 0.2s;
}

a:hover,
a:focus {
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

.container {
	max-width: 1280px;
	width: 100%;
	padding: 0 5px;
}

.row {
	margin: 0 -5px;
}

img {
	max-width: 100%;
	height: auto;
	width: initial;
}


ul {
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	background: none;
	border-radius: 10px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	max-width: 173px;
}

textarea {
	width: 100%;
}

.check label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-weight: 300;
}

.check label a {
	font-weight: 200;
	border-bottom: 1px solid #7bb3cb;
	color: rgb(255, 255, 255);
}

.check label a:hover {
	border-bottom: none;
}

.check input[type=checkbox] {
	display: none;
}

.check label:before {
	background: url(/images/checkbox.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_checked.png) left center no-repeat;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}


.slick-dots li {
	margin: 0;
}



@keyframes smoothScroll {
	0% {
		transform: translateY(-60px);
	}
	100% {
		transform: translateY(0px);
	}
}

.mainblock {
	background-image: url(/images/bg1.png);
	background-position: center top;
	background-size: initial;
	height: 715px;
	z-index: 11;
}

.header__menu ul li a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
 border-bottom: 1px solid #07a8d3;
 padding-bottom: 1px;
}
.header__menu ul li a:hover, .header__menu ul li a:focus {
	border-bottom: none;
}
.header__menu ul li {
	display: inline-block;
	margin: 0 40px;
}

.lang a {
	height: 43px;
	width: 43px;
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
  font-size: 14px;
  color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
}
.lang a:hover, .lang a:focus {
	text-decoration: underline;
}
.header__menu ul {
	text-align: center;
	margin-right: 20px;
}
.lang {
	float: right;
	padding-top: 45px;
}

#header {
	margin-bottom: 10px;
}

.header__logo {
	background-image: url(/images/bg-logo.png);
	background-position: center top;
	background-size: initial;
	height: 120px;
	width: 142px;
	background-repeat: no-repeat;
	text-align: center;
}
.header__logo img {
	padding-top: 13px;	
}

.header__menu {
    padding-top: 50px;
}

#header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 0;
	box-shadow: 0 -7px 13px 3px #777;
}

#header.fixed  .header__logo {
	background: none;	
	width: 93px;
	height: 60px;
}

#header.fixed  .header__logo img {
	padding-top: 1px;
}

#header.fixed .header__menu ul li a {
	color: #000;
}
#header.fixed .header__menu {
	padding-top: 20px;
}
#header.fixed .lang {
	padding-top: 9px;
}

#header.fixed .lang a {
	color: #000;
	border: 1px solid #000;
}

h1 {
	font-family: 'Days One';
  font-size: 120px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
	border-bottom: 1px solid #a0a2a4;
	display: inline-block;
	margin: auto;
	padding-bottom: 5px;
}

.mainblock__title {
    text-align: center;
}

.mainblock__descr {
  font-size: 36px;
  color: rgb(255, 255, 255);
  line-height: 1.444;
  text-align: center;
	margin: 15px 0;
}

.btn_main {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-transform: uppercase;  
  text-align: center;
  background: #07a8d3;
  width: 320px;
  max-width: 100%;
	border-radius: 0;
	height: 52px;
	line-height: 52px;
	padding: 0;
}

.btn_main:hover, .btn_main:focus {
	color: #fff;
	background: #0db2de;
}

.mainblock__buttons {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

.mainblock__button {
	text-align: center;
	padding: 0 25px;
}

.mainblock__content {
	padding-top: 45px;
}

.mainblock {
	position: relative;
	    z-index: 11;
}

.blocklink {
	
	border: 1px solid #fff;
	border-radius: 50%;
	width: 85px;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
}


.blocklink a {
	display: block;
	width: 55px;
	height: 55px;
	background-image: url(/images/angle1.png);
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-color: #fff;
}
.blocklink a:hover {	
	background-image: url(/images/angle2.png);
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
}

.title {
	
  font-size: 65px;
font-family: 'Days One';
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin: 20px 0 30px 0;
  line-height: 1.1;
  

}

.text {
	margin: 10px 0;
}

.text p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
	
}

.list {
	padding-bottom: 5px;
}

.list ul li {
	 font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  background-image: url(/images/list.png);
  background-position: left top 8px;
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 20px;
  margin: 20px 0;
      font-weight: 500;
}


.text a {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
	border-bottom: 2px solid #07a8d3;
	
}

.text a:hover, .text a:focus {
	border-bottom: none;
}

.textcontent {
	padding-left: 50px;
}
.imgblock {
    position: absolute;
    bottom: 1px;
}

.imgblock img {
   max-width: initial;
}

.imgtextblock_1 {
	background-image: url(/images/bg2.png);
	background-position: center bottom;
	background-size: initial;
	background-repeat: no-repeat;
	height: 823px;
	margin-top: -80px;
	padding-top: 105px;
z-index: 9;
}

.imgtextblock_2 {
	background-image: url(/images/bg3.png);
	background-position: center bottom;
	background-size: initial;
	background-repeat: no-repeat;
	height: 833px;
		z-index: 8;
	position: relative;
	margin-top: -80px;
	padding-top: 100px;
}
.imgtextblock_3 {
	background-image: url(/images/bg4.png);
	background-position: center bottom;
	background-size: initial;
	background-repeat: no-repeat;
	height: 839px;
		z-index: 7;
	position: relative;
	margin-top: -80px;
	padding-top: 120px;
}

.imgtextblock {
	position: relative;
	overflow: hidden;
}

.imgtextblock .row > div {
	position: initial;
}

.blocklink_2 a {
	background-color: transparent;
	 transform: rotate(-45deg);
}
.blocklink_2 {
	border: 1px solid transparent;
	
    border-bottom-color:#dddddf;
    border-right-color:#dddddf;
    transform: rotate(45deg);
}
.imgtextblock_2 .textcontent {
	padding: 0 5px;
}

.text {
	    font-weight: 500;
}

.imgtextblock_3 .imgblock {
	left: -130px;
	bottom: 150px;
}

.imgtextblock_3 .textcontent {
	padding: 20px 0 15px 0;
}

.imgtextblock_3 .text {
	margin: 10px 0 20px 0;
}
.imgtextblock_3 .text_link {
	margin: 10px 0 20px 0;
	padding-top: 10px;
}

.item__img {
	width: 168px;
	height: 160px;
	border: 2px solid #000;
	background: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.item__text1 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;

}
.item__text2 {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.item__text3 {
  font-size: 13px;
  color: #666666;

  line-height: 1.2;
  text-align: center;
}
.items {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: auto;
}

.item {
	width: 33%;
	max-width: 288px;
}
.item__content {
	text-align: center;
}

.textbig {
  font-size: 24px;
 
  line-height: 1.25;
  
}

.aboutblock .title {
	text-align: center;
	margin: 20px 0;
}
.aboutblock .textbig {
	text-align: center;
	margin: 20px 0 44px 0;
}
.aboutblock {
	padding-bottom: 55px;
}

.itemsblock {
	background-image: url(/images/strelka.png);
	background-position: right top 63px;
	background-size: initial;
	background-repeat: no-repeat;
}

.wave {
	background-image: url(/images/bg5.png);
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
	height: 99px;
	width: 100%;
	    z-index: 12;
    position: relative;
}

.map {
    margin-top: -80px;
}

.contacts {
	width: 415px;
	height: 433px;
	box-shadow: 0 0 25px 5px #ccc;
}

.contacts__content {
	padding: 38px;
}

.contacts__title {
  font-size: 36px;
  font-family: 'Days One';
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 30px;
}

.contacts__tel a{
  font-size: 18px;
  color: rgb(0, 0, 0);
 
}
.contacts__address{
  font-size: 18px;
  color: rgb(0, 0, 0);
 
}

.contacts__email span {
	  font-size: 18px;
  color: rgb(0, 0, 0);
}
.contacts__site span {
	  font-size: 18px;
  color: rgb(0, 0, 0);
}
.contacts__email a {
	  font-size: 18px;
  color: #999999;
}
.contacts__site a {
	  font-size: 18px;
  color: #999999;
}

.contacts__rekv a {
	font-weight: bold;
	font-size: 18px;
	border-bottom: 2px solid #07a8d3;
	padding-bottom: 2px;
	color: #000;
}

.contacts__content > div {
	margin-bottom: 22px;
}

.map {
	position: relative;
}

.contacts {
	position: absolute;
	bottom: 65px;
	background: #fff;
}

.copy {
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;

}
.copy span {
	 font-size: 16px;
}
.share__text {
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
    font-weight: 500;
	padding-top: 5px;
}

.share__links a {
	margin: 0 1px;
	display: inline-block; 
	width: 24px;
	height: 24px;
	background-image: url(/images/socials.png);
}

.share__links {
text-align: center;
padding-top: 5px;
}

.share__vk {
		background-position: top -5px left -5px;
}
.share__fb {
		background-position: top -5px left -33px;
}
.share__tw {
		background-position: top -5px left -61px;
}

.share__in {
		background-position: top -5px left -89px;
}
.share__vb {
		background-position: top -5px left -117px;
}
.share__wa {
		background-position: top -5px left -145px;
}
.share__sk {
		background-position: top -5px left -173px;
}
.share__tg {
		background-position: top -5px left -201px;
}



#footer {
	padding: 20px 0
}


@media (min-width: 768px) {
	.modal-dialog {
		width: 470px;
	}
}

.modal {
	overflow-y: auto;
}

body.modal-open {
	overflow: inherit;
	padding-right: 0 !important;
}

.modal-content {
	padding: 25px 30px;
	border-radius: 0;
}

.modal__form {
	margin: 20px 0 0 0;
}

.modal {
	text-align: center;
}

.modal-title {
	font-size: 30px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
}

.modal__form input[type="text"],
.modal__form input[type="tel"],
.modal__form input[type="email"],
.modal__form textarea,
.modal__form input {
	background: none;
	border-radius: 10px;
	border: 1px solid #b1b1b1;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 100%;
}

.modal__form ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form ::-moz-placeholder {
	/* Firefox 19+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-ms-input-placeholder {
	/* IE 10+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-moz-placeholder {
	/* Firefox 18- */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form .check label {
	color: #000;
	font-weight: 400;
}

.modal__form .check label a {
	color: #00548e;
	font-weight: 400;
	border-bottom: 1px solid #00548e;
}

.modal__form .check label a:hover {
	border-bottom: none;
}

.modal__form .check label:before {
	background: url(/images/checkbox_black.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.modal__form .check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_black_checked.png) left center no-repeat;
}

.form-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.form-group_last {
	margin-bottom: 0;
}

input[type="text"].input-error,
input[type="tel"].input-error,
input[type="email"].input-error,
textarea.input-error,
input[type="text"].input-error {
	color: #cc0000;
	border: 1px solid #cc0000;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
textarea:disabled,
input[type="text"]:disabled,
input:disabled {
	background: #e7e7e7;
	color: #333;
	border: 1px solid #e7e7e7;
}

.modal__form input.input-error::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #cc0000;
}

.modal__form input.input-error::-moz-placeholder {
	/* Firefox 19+ */
	color: #cc0000;
}

.modal__form input.input-error:-ms-input-placeholder {
	/* IE 10+ */
	color: #cc0000;
}

.modal__form input.input-error:-moz-placeholder {
	/* Firefox 18- */
	color: #cc0000;
}

@media screen and (min-width: 992px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.close {
	position: absolute;
	z-index: 99;
	right: 8px;
	top: 8px;
	float: none;
	font-size: 17px;
	opacity: 1;
}

.closemenu {
	display: none;
}

.menumobile {
	display: none;
}

.team__arrows {
	display: none;
}


@media (max-width: 1279px) {
	.title {
		font-size: 40px;
	}
}
@media (max-width: 1170px) {
	.title {
		font-size: 35px;
	}
	.btn_main {
		width: 280px;
		font-size: 16px;
	}
	.imgtextblock_3 .imgblock {
		left: -230px;
		bottom: 150px;
	}
	.imgtextblock {
		padding-bottom: 120px;
	}
	.imgtextblock_1 {
		z-index: 7;
		height: initial;
		padding-top: 70px;
	}
	.blocklink {
		bottom: 55px;
		border: none;
	}
	.imgtextblock_2 {
		z-index: 7;
		height: initial;
		padding-top: 70px;
	}.imgtextblock_3 {
		z-index: 7;
		height: initial;
		padding-top: 70px;
	}
	
	.imgblock img {
		max-width: 320px;

	}
	.imgblock {
		bottom: 40px;
	}
	.mainblock {
		height: auto;
		padding-bottom: 111px;
		background-position: center bottom;
	}
	/* .mainblock .blocklink {
		bottom: 36px;
		border: 1px solid #fff;
	} */
	
	.blocklink a {
		background-color: transparent;
	}
	.text p, .list ul li {
		font-size: 16px;
	}
	.text a {
		font-size: 20px;
	}
	.imgtextblock_3 .imgblock {
		left: 30px;
	}
}

@media (max-width: 991px) {
	.row {
		margin: 0 -5px;
	}
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9 {
		padding: 0 5px;
	}
	.mainblock__button {
		padding: 0 10px;
	}
	.btn_main {
    width: 240px;
    font-size: 14px;
}
.imgtextblock .row {
	display: flex;
	flex-wrap: wrap;
}
.imgtextblock .col-md-5 {
	order: 2;
}.imgtextblock .col-md-7 {
	order: 1;
}

h1 {
  font-size: 48px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  
}
.header__logo {
	background: none;
}
.mainblock__buttons {
	display: block;
}
	.mainblock__descr {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  
}
.menumobile {
	display: block;
}

.items {
	display: block;
}
.header__menu {
		display: none;
	}
	.header__menu {
		display: none;
	}
	.menumobile {
		position: absolute;
	    left: 5px;
    top: 19px;
		z-index: 9;
	}
	.header__menu {
		position: absolute;
		z-index: 9;
		background: #fff;
		left: 5px;
		max-width: 240px;
		margin: 0;
		top: 5px;
		box-shadow: 0px 1px 19px -2px #333333;
		width: 100%;
		padding: 10px 0;
		display: none;
	}
	.header__menu ul li {
		display: block;
		width: 100%;
		border-bottom: 1px solid #e0e0e0;
		padding: 5px 0;
		text-align: center;
		margin: 0;
	}
	.header__menu ul li a {
		font-size: 16px;
		color: #000;
		font-weight: 400;
		max-width: 180px;
		margin: auto;
	}
	.header__menu ul li:last-child {
		border-bottom: none;
	}
	.col-md-6.col-md-6_menu.col-sm-12.col-xs-12 {
		position: initial;
	}
	.header__menu ul li a:after {
		display: none;
	}
	.header__menu .closemenu {
		display: block;
		text-align: right;
		position: absolute;
		right: 5px;
		top: 0px;
	}
	.header__content .row > div {
		position: initial;
	}
	.contacts {
		width: 100%;
		max-width: 300px;
	}
	.header__content {
    background: #fff;
	height: 56px;
	position: relative;
}
.lang a {
	color: #000;
	border: 1px solid #000;
	height: 33px;
	width: 33px;
	font-size: 11px;
}
.header__logo {
	width: 76px;
	height: 47px;
	margin: auto;
}
.header__logo img {
	padding-top: 4px;
}
.lang {
	padding-top: 11px;
}
.header__menu {text-align: center;}

.lang {
    position: absolute;
    right: 5px;
    top: 0px;
}
.btn_main {
	width: 270px;
	font-size: 15px;
	display: block;
    margin: 10px auto;
}
.mainblock {
    background-size: 500%;
	padding-top: 47px;
	padding-bottom: 110px;
	z-index: 7;
}
.mainblock__content {
	padding-top: 35px;
}
.header__content {
	box-shadow: 0 -7px 13px 3px #777;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	padding: 0;
	box-shadow: 0 -7px 13px 3px #777;
	z-index: 9999;
}
.imgtextblock_1 {
	padding-top: 40px;
}
.imgblock {
	position: initial;
}
.textcontent {
	padding: 0;
}
.title {
  font-size: 27px;
  

}
.imgtextblock_1 {
	background-position: center top;
	padding-bottom: 0;
	
}
.text p, .list ul li {
  font-size: 15px;
  font-weight: 400;
}
.list ul li {
	margin: 10px 0;
}
.imgtextblock_2  {
	padding-top: 40px;
	background-position: center top -235px;
	    margin-top: -32px;
		background-size: 300%;
		  
}
.blocklink {
    bottom: 8px;
}
.imgtextblock_3 {
	padding-top: 10px;
	background-position: center top -190px;
	    margin-top: -152px;
		   
			padding-bottom: 50px;
}

.aboutblock .textbig {
  font-size: 15px;
  line-height: 1.333;
  text-align: center;
  
}

.aboutblock {
	padding-top: 30px;
}
.itemsblock {
	background-image: none;
}

.item {
	width: 100%;
	max-width: 320px;
	margin: 15px auto;
	position: relative;
}
.item:after {
	content: "";
	display: block;
	width: 20px;
	height: 35px;
	background-image: url(/images/str.png);
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	margin: 15px auto;
}

.items .item:last-child:after {
	display: none;
}
.wave {
	display: none;
}
.contacts {
    position: absolute;
    /* bottom: 65px; */
    background: #fff;
    top: 0;
	box-shadow: none;
	width: 100%;
	max-width: 100%;
	left: 0;
	bottom: unset;
}
.mapblock {
    margin-top: 30px;
}
.contacts__content {
    padding: 15px;
    text-align: center;
}



.contacts__tel a{
font-size: 15px;
  color: rgb(0, 0, 0);
 
}
.contacts__address{
  font-size: 15px;
  color: rgb(0, 0, 0);
 
}

.contacts__email span {
	font-size: 15px;
  color: rgb(0, 0, 0);
}
.contacts__site span {
font-size: 15px;
  color: rgb(0, 0, 0);
}
.contacts__email a {
	font-size: 15px;
  color: #999999;
}
.contacts__site a {
	font-size: 15px;
  color: #999999;
}

.contacts__rekv a {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 2px solid #07a8d3;
	padding-bottom: 2px;
	color: #000;
}

.contacts {
	height: initial;
	position: initial;
	padding-top: 35px;
}
.map iframe {
	height: 280px;
}
.imgtextblock .row > div {
   margin-right: auto;
    margin-left: auto;
}
.mainblock {
		background-size: initial;
		background-position: center top;
		z-index: 20;
		
	}
	.imgblock {
    position: initial;
    text-align: center;
}

.imgtextblock_1 {
	margin-top: 0;
}

.imgtextblock_2 .imgblock img {
	max-width: 240px;
	margin: auto;
	display: block;
}

}

@media (max-width: 767px) {
	.mainblock {
		background-size: 560%;
		background-position: center top;
	}
	
	.imgtextblock_2  {

		    background-size: 858%;
}
.blocklink {
    bottom: 8px;
}
.imgtextblock_3 {

		    background-size: 770%;
			
}
.imgtextblock_1 {
	
	    background-size: 530%;
}
	
	
}



.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

