

body {
	 font-family: 'Roboto', sans-serif;
	 font-weight: normal;
	margin: 0;
	color: #000;
	min-width: 320px;
	padding: 0 !important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding: 0 !important;
	transition: all 0.3s;
}

* {
	outline: none !important;
}

a {
	transition: all 0.2s;
}

a:hover,
a:focus {
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

.container {
	max-width: 1280px;
	width: 100%;
	padding: 0 5px;
}

img {
	max-width: 100%;
	height: auto;
	width: initial;
}


ul {
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	background: none;
	border-radius: 10px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	max-width: 173px;
}

textarea {
	width: 100%;
}

.check label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-weight: 300;
}

.check label a {
	font-weight: 200;
	border-bottom: 1px solid #7bb3cb;
	color: rgb(255, 255, 255);
}

.check label a:hover {
	border-bottom: none;
}

.check input[type=checkbox] {
	display: none;
}

.check label:before {
	background: url(/images/checkbox.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_checked.png) left center no-repeat;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}


.slick-dots li {
	margin: 0;
}

#header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(0, 84, 142);
	background: linear-gradient(90deg, rgba(0, 84, 142, 1) 0%, rgba(5, 109, 155, 1) 53%, rgba(21, 191, 199, 1) 100%);
	animation: smoothScroll 0.4s forwards;
	padding: 7px 0;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-60px);
	}
	100% {
		transform: translateY(0px);
	}
}

.mainblock {
	background-image: url(/images/bg1.png);
	background-position: center top;
	background-size: initial;
	height: 715px;
	z-index: 11;
}

.header__menu ul li a {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
 border-bottom: 1px solid #07a8d3;
 padding-bottom: 1px;
}
.header__menu ul li {
	display: inline-block;
	margin: 0 40px;
}

.lang a {
	height: 43px;
	width: 43px;
	display: block;
	border: 1px solid #fff;
	border-radius: 50%;
  font-size: 14px;
  color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__menu ul {
	text-align: center;
	margin-right: 20px;
}
.lang {
	float: right;
	padding-top: 45px;
}

#header {
	margin-bottom: 10px;
}

.header__logo {
	background-image: url(/images/bg-logo.png);
	background-position: center top;
	background-size: initial;
	height: 120px;
	width: 142px;
	background-repeat: no-repeat;
	text-align: center;
}
.header__logo img {
	padding-top: 13px;	
}

.header__menu {
    padding-top: 50px;
}

h1 {
	font-family: 'Days One';
  font-size: 120px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
	border-bottom: 1px solid #a0a2a4;
	display: inline-block;
	margin: auto;
	padding-bottom: 5px;
}

.mainblock__title {
    text-align: center;
}

.mainblock__descr {
  font-size: 36px;
  color: rgb(255, 255, 255);
  line-height: 1.444;
  text-align: center;
	margin: 15px 0;
}

.btn_main {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-transform: uppercase;  
  text-align: center;
  background: #07a8d3;
  width: 320px;
  max-width: 100%;
	border-radius: 0;
	height: 52px;
	line-height: 52px;
	padding: 0;
}

.mainblock__buttons {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

.mainblock__button {
	text-align: center;
	padding: 0 25px;
}

.mainblock__content {
	padding-top: 45px;
}

.mainblock {
	position: relative;
	    z-index: 11;
}

.blocklink {
	
	border: 1px solid #fff;
	border-radius: 50%;
	width: 85px;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    bottom: 36px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
}


.blocklink a {
	display: block;
	width: 55px;
	height: 55px;
	background-image: url(/images/angle1.png);
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-color: #fff;
}
.blocklink a:hover {	
	background-image: url(/images/angle2.png);
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
}

.title {
	
  font-size: 65px;
font-family: 'Days One';
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin: 20px 0 30px 0;
  line-height: 1.1;
  

}

.text {
	margin: 10px 0;
}

.text p {
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
	
}

.list {
	padding-bottom: 5px;
}

.list ul li {
	 font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  background-image: url(/images/list.png);
  background-position: left top 8px;
  background-repeat: no-repeat;
  list-style: none;
  padding-left: 20px;
  margin: 20px 0;
      font-weight: 500;
}


.text a {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
	border-bottom: 2px solid #07a8d3;
	
}

.textcontent {
	padding-left: 50px;
}
.imgblock {
    position: absolute;
    bottom: 1px;
}

.imgblock img {
   max-width: initial;
}

.imgtextblock_1 {
	background-image: url(/images/bg2.png);
	background-position: center bottom;
	background-size: initial;
	background-repeat: no-repeat;
	height: 823px;
	margin-top: -80px;
	padding-top: 105px;
z-index: 9;
}

.imgtextblock_2 {
	background-image: url(/images/bg3.png);
	background-position: center bottom;
	background-size: initial;
	background-repeat: no-repeat;
	height: 833px;
		z-index: 8;
	position: relative;
	margin-top: -80px;
	padding-top: 100px;
}
.imgtextblock_3 {
	background-image: url(/images/bg4.png);
	background-position: center bottom;
	background-size: initial;
	background-repeat: no-repeat;
	height: 839px;
		z-index: 7;
	position: relative;
	margin-top: -80px;
	padding-top: 120px;
}

.imgtextblock {
	position: relative;
}

.imgtextblock .row > div {
	position: initial;
}

.blocklink_2 a {
	background-color: transparent;
	 transform: rotate(-45deg);
}
.blocklink_2 {
	border: 1px solid transparent;
	
    border-bottom-color:#dddddf;
    border-right-color:#dddddf;
    transform: rotate(45deg);
}
.imgtextblock_2 .textcontent {
	padding: 0 5px;
}

.text {
	    font-weight: 500;
}

.imgtextblock_3 .imgblock {
	margin-left: -130px;
	bottom: 150px;
}

.imgtextblock_3 .textcontent {
	padding: 20px 0 15px 0;
}

.imgtextblock_3 .text {
	margin: 10px 0 20px 0;
}
.imgtextblock_3 .text_link {
	margin: 10px 0 20px 0;
	padding-top: 10px;
}


@media (min-width: 768px) {
	.modal-dialog {
		width: 470px;
	}
}

.modal {
	overflow-y: auto;
}

body.modal-open {
	overflow: inherit;
	padding-right: 0 !important;
}

.modal-content {
	padding: 25px 30px;
	border-radius: 0;
}

.modal__form {
	margin: 20px 0 0 0;
}

.modal {
	text-align: center;
}

.modal-title {
	font-size: 30px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
}

.modal__form input[type="text"],
.modal__form input[type="tel"],
.modal__form input[type="email"],
.modal__form textarea,
.modal__form input {
	background: none;
	border-radius: 10px;
	border: 1px solid #b1b1b1;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 100%;
}

.modal__form ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form ::-moz-placeholder {
	/* Firefox 19+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-ms-input-placeholder {
	/* IE 10+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-moz-placeholder {
	/* Firefox 18- */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form .check label {
	color: #000;
	font-weight: 400;
}

.modal__form .check label a {
	color: #00548e;
	font-weight: 400;
	border-bottom: 1px solid #00548e;
}

.modal__form .check label a:hover {
	border-bottom: none;
}

.modal__form .check label:before {
	background: url(/images/checkbox_black.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.modal__form .check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_black_checked.png) left center no-repeat;
}

.form-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.form-group_last {
	margin-bottom: 0;
}

input[type="text"].input-error,
input[type="tel"].input-error,
input[type="email"].input-error,
textarea.input-error,
input[type="text"].input-error {
	color: #cc0000;
	border: 1px solid #cc0000;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
textarea:disabled,
input[type="text"]:disabled,
input:disabled {
	background: #e7e7e7;
	color: #333;
	border: 1px solid #e7e7e7;
}

.modal__form input.input-error::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #cc0000;
}

.modal__form input.input-error::-moz-placeholder {
	/* Firefox 19+ */
	color: #cc0000;
}

.modal__form input.input-error:-ms-input-placeholder {
	/* IE 10+ */
	color: #cc0000;
}

.modal__form input.input-error:-moz-placeholder {
	/* Firefox 18- */
	color: #cc0000;
}

@media screen and (min-width: 992px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.close {
	position: absolute;
	z-index: 99;
	right: 8px;
	top: 8px;
	float: none;
	font-size: 17px;
	opacity: 1;
}

.closemenu {
	display: none;
}

.menumobile {
	display: none;
}

.team__arrows {
	display: none;
}


@media (max-width: 1270px) {
	
}

@media (max-width: 991px) {
	.row {
		margin: 0 -5px;
	}
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9 {
		padding: 0 5px;
	}
	
}

@media (max-width: 767px) {
	
}










